{
  "presets": [
      "env",
      "react",
      "es2015",
      "stage-0"
  ],
  "plugins": [
      "transform-runtime",
      "transform-decorators-legacy",
      [
          "import",
          {
              "libraryName": "antd",
              "style": true
          }
      ]
  ],
  "env": {
      "development": {
          "presets": [
              "react-hmre"
          ]
      },
      "production": {}
  }
}